.contact-page {
  display: flex;
  flex-direction: column; /* Kolon düzeninde hizala */
  align-items: center;
  height: 80vh; /* Sayfanın yüksekliğine göre ayarlayabilirsiniz */
  text-align: center; /* Metni ortalar */
}

.contact-header {
  margin-bottom: 20px; /* Üst ve alt boşluk */
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* İçeriği üst kısma hizalar */
  width: 100%; /* Tüm genişliği kapsar */
}

.map-container {
  flex: 1;
  max-width: 600px;
  height: 450px; /* Sabit yükseklik */
}

.contact-info {
  flex: 1;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8); /* Arka plan rengi ve saydamlık */
  padding: 20px;
  height: 410px;
  border-radius: 10px; /* Köşeleri yuvarlatmak için */
  margin-left: 20px; /* Haritadan biraz uzaklaştırmak için */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* İletişim bilgilerini sola hizalar */
}

.contact-info h2 {
  margin-top: 0;
  
}

.contact-info p {
  margin: 10px 0; /* Paragraflar arası boşluk */
}

.contact-info p strong {
  font-weight: bold; /* Koyu yazı */
  
}

