.donate_page_div {
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
}

.donation_options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 30px;
}

.donation_summary_panel {
    background-color: var(--light_color);
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donation_summary_panel h3{
    text-align: center;
    font-size: 20px;
}

.donation_summary_panel p{
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}

.donation_summary_content{
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.donate_button{
    text-align: center;
    font-weight: bold;
    background-color: var(--dark_color);
    padding: 10px;
    border-radius: 30px;
    color: var(--light_color);
    transition: all 0.3s ease;
}

.donate_button:hover{
    background-color: var(--secondary_color);
    cursor: pointer;
}

.donation_summary_content_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donation_summary_content_row p{
    font-size: 15px;
    margin: 0;
}

.donation_summary_content_row h5{
    font-size: 17px;
    margin: 0;
}

.donation_summary_content_row_delete_button{
    width: 15px;
    height: 15px;
    background-image: url(../assets/remove.png);
    border-radius: 50%;
}

.donation_summary_content_row_delete_button:hover{
    cursor: pointer;
}

.error_slide_bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    border-radius: 5px;
    margin: 10px;
    animation: slideDown 0.5s ease-out;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      top: -50px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
  
