/* locations_page.css */

  
  .locations-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .locations-container {
    display: flex;
  grid-template-columns: repeat(3,1fr); /* Her sırada 3 sütun */
  grid-row-gap: 20px; /* Kutular arasındaki dikey boşluk */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  }
  
  .location-box {
    background-color: rgba(255, 255, 255, 0.6); /* Yarı saydam beyaz arka plan */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .location-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
  
  .location-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .stock-locations-info {
    color: white;
    font-style: italic;
    margin-top: 20px;
    text-align: center; /* Paragrafı ortalamak için */
  }