body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  background-color: #3c5252;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
  color: #e0e0e0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-image: url('../assets/0d986200-a4af-40a9-8346-18ec4785179c.webp');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 50vh;
}

.hero-text {
  background-color: rgba(17, 82, 104, 0.3);
  margin-top: 322px;
  color: white;
  
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.hero h3 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.donate-now-button {
  background-color: #4d5c6a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.donate-now-button:hover {
  background-color: #2a2929;
}

.donation-info, .give-food-now, .end-hunger {
  /*background-color: #e6f7ff;*/
  background-color:white;
  margin: 0px 0;
  padding: 40px;
  text-align: center;
  border-radius: 0px;
  line-height: 1rem;
}

.give-food-now {
  background-image: url('../assets/mainpagebackground.png.webp');
  height: 600px;
  background-size: cover;
  background-position: center;
  color: white;
  background-color:white;
  line-height: 3rem;
}
.give-food-now h2{
  font-size: 1.8rem;
  margin-bottom: 20px;
  line-height: 3rem;
  margin-top: 220px;

}

.donation-info h2,  .end-hunger h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  line-height: 3rem;
}

.donation-info p, .give-food-now p, .end-hunger p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 3rem;
}

.donate-today-button {
  background-color: #4d5c6a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.donate-today-button:hover {
  background-color: #2a2929;
}

@media (max-width: 768px) {

  .header-placeholder {
    height: 120px;
  }

  .hero {
    margin-top: 120px;
  }
}
