.member_card_cover {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; /* Kartlar arasındaki boşluk */
  }
  
  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }