:root{
  --main_color: #a9cce3;
  --secondary_color: #e6b0aa;
 
  --light_color: #fdf2e9;
  --dark_color: #7d7a7a;
 /* --background_gradient_colors: linear-gradient(to bottom, var(--main_color), var(--secondary_color));*/
 --background_gradient_colors:wheat;
  --error_color: red;
  background: linear-gradient(to bottom, var(--main_color), var(--secondary_color));
  transition: all 0.5s ease;
}

::selection{
  background-color: var(--secondary_color);
  color: var(--light_color);
}

body {
  background: linear-gradient(to bottom, var(--main_color), var(--secondary_color));
  /*background-color: rgb(205, 202, 202);*/
  background-blend-mode:multiply;
  margin: 0;
  width: 100%;
  height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.page_div {
  width: 100%;
  min-height: 100vh;
  /*background: linear-gradient(to bottom, var(--main_color), var(--secondary_color)), url(../public/background.png); */
  background-blend-mode: multiply;
  background: linear-gradient(to bottom, var(--main_color), var(--secondary_color));
  /*background-color: var(--main_color);*/
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
